@inherits LayoutComponentBase

    <main>
        <div class="top-row px-4">
        <a href="https://github.com/DuckyDuke69/MiniProjekt2023" target="_blank">Besøg vores GitHub!</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
